<h3>Home</h3>
<p>Welcome to the home of <%= @owner.name %>.</p>
<p>I will be visting San Francisco on <%= @owner.birthdate %>.</p>
<p>Only <%= @owner.countdown %> days until I leave for San Francisco!</p>